{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include "PasswordApp/nav.html" %}
    <br><br>
    <p id="pPass"></p>

    <br><br>
    <a href="{% url 'home' %}">Atras</a>
  </body>

  <script>
    const p = document.getElementById("pPass");
    p.textContent = generarCaracteresAleatorios(15)

    function generarCaracteresAleatorios(longitud) {
      const caracteres =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      let resultado = "";

      for (let i = 0; i < longitud; i++) {
        const indice = Math.floor(Math.random() * caracteres.length);
        resultado += caracteres.charAt(indice);
      }

      return resultado;
    }
  </script>
</html>