{% extends 'BlogApp/base.html' %} {% load static %} 

{% block title %}Meu Blog{% endblock %} 

{% block content %}
<div class="w-100 d-flex justify-content-center">
  <div class="card text-center my-5 w-75">
    <div class="card-header">Blog de Xacobo</div>
    <div class="card-body">
      <img
        src="{% static 'BlogApp/img/logo.svg' %}"
        style="width: 200px"
        class="card-img"
        alt=""
      />
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">
        With supporting text below as a natural lead-in to additional content.
      </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>

{% endblock %}
